$primary-yellow: #ffe81f;
$primary-white: #ffffff;

$border-radius: 2rem;
$border-radius-xxl: 8rem;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;
$padding-xl: 4rem;
$padding-xxl: 8rem;

$font-size-lg: 2rem;
$font-size-xxl: 5rem;